/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  padding: 10px 0 9px;
  background-color: #f0f3f4;
  box-shadow: 0 0 0 1px #e0e0e0;
}
.text-color-1 {
  color: blue;
}
.text-color-2 {
  color: green;
}
.text-color-3 {
  color: red;
}
.text-color-4 {
  color: yellow;
}
.text-color-5 {
  color: orange;
}
.text-color-6 {
  color: violet;
}
.text-color-7 {
  color: orchid;
}
.text-color-8 {
  color: brown;
}
