<nav class="navbar mb-8">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="/" class="flex items-center">
        <%= image_tag("logo.svg", class: "mr-3 h-6 sm:h-9", alt: "Minesweeper Logo") %>
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Minesweeper</span>
    </a>
  </div>
</nav>